
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 0 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #90a7ac;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
 
  main {
    flex: 1;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  form {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    max-width: 400px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #7badad;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
  }
  
  button:hover {
    background-color: #007f85;
  }
  

  section {
    margin-bottom: 30px;
  }
  
  h3 {
    color: #0a3d62;
    margin-bottom: 10px;
  }
  
  #status {
    font-size: 1.1em;
    background-color: #e0f7fa;
    padding: 15px;
    border-left: 5px solid #00a896;
    border-radius: 4px;
  }
  
  #historico {
    list-style: disc;
    padding-left: 20px;
  }
  
  #historico li {
    margin-bottom: 8px;
  }
  
  footer {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background-color: #e0e0e0;
    font-size: 0.9em;
    color: #333;
    border-top: 1px solid #ccc;
  }
  